<%- include('header')-%>
<div class="upload-section">
    <div class="container">
      <div class="d-flex display-block">
        <div class="upload-section-1 col-lg-4 col-md-12">
          <p>
            The first step is to upload your video file. For best results have
            7 topics/sub categories in your video for 7 days of content.
          </p>
          <div class="upload-file">
            <h3>DROP YOUR VIDEO FILE HERE</h3>
            <i class="bi bi-cloud-arrow-up"></i>
            <p>
              VIDEO MUST BE IN (MP4) FORMAT AND AT LEAST (15 MIN) IN LENGTH
            </p>
            <button type="button" class="button">SELECT FROM FILES</button>
          </div>
          <div class="upload-process">
            <span>LOADING...</span>
            <img src="images/loading.png" alt="" />
            <div class="upload-result">
              <span class="success"
                >SUCCESS <i class="bi bi-check2"></i
              ></span>
              <span class="failed">FAILED <i class="bi bi-x-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="upload-section-2 col-lg-8 col-md-12">
          <div class="inner-section d-flex">
            <div class="title col-md-7">
              <h3>
                Use this option to include a specific intro/outro to You Tube
                Videos
              </h3>
            </div>
            <div class="upload-file-section-2 col-md-5 d-flex">
              <div class="col-md-6">
                <div class="upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-frward"></i>
                </button>
                <span class="success"
                  >SUCCESS <i class="bi bi-check2"></i
                ></span>
              </div>
              <div class="col-md-6">
                <div class="upload-file-2 upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-foward"></i>
                </button>
                <span class="failed">FAILED <i class="bi bi-x-lg"></i></span>
              </div>
            </div>
          </div>

          <div class="inner-section d-flex">
            <div class="title col-md-7">
              <h3>
                  Use this option to include a specific intro/outro to Podcast Episodes & Promo Clips
              </h3>
            </div>
            <div class="upload-file-section-2 col-md-5 d-flex">
              <div class="col-md-6">
                <div class="upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-foward"></i>
                </button>
                <span class="success"
                  >SUCCESS <i class="bi bi-check2"></i
                ></span>
              </div>
              <div class="col-md-6">
                <div class="upload-file-2 upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-frward"></i>
                </button>
                <span class="failed">FAILED <i class="bi bi-x-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="inner-section d-flex">
            <div class="title col-md-7">
              <h3>
                  Use this option to include a generic intro/outro to all other videos (Signature Show)
              </h3>
            </div>
            <div class="upload-file-section-2 col-md-5 d-flex">
              <div class="col-md-6">
                <div class="upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-foward"></i>
                </button>
                <span class="success"
                  >SUCCESS <i class="bi bi-check2"></i
                ></span>
              </div>
              <div class="col-md-6">
                <div class="upload-file-2 upload-file-1">
                  <h4>DROP YOUR VIDEO INTRO HERE</h4>
                  <i class="bi bi-cloud-arrow-up"></i>
                  <button type="button" class="button">
                    SELECT FROM FILES
                  </button>
                </div>
                <button type="button" class="button-type-2">
                  SKIP THIS STEP <i class="bi bi-frward"></i>
                </button>
                <span class="failed">FAILED <i class="bi bi-x-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer')-%>
